@import url('reset.css');

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/Poppins-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL CLASSES */
body {
	font-family: "Poppins", sans-serif;
	background: #0C151D;
	color: #FFF;
	font-size: 22px;
	line-height: 1.3;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* HEADER */
.header {
	text-align: center;
	padding: 33px 0 82px;
}

.header-top-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	background: #171F26;
	overflow: hidden;
}

.header-top-icon img{
	width: 100%;
	height: 100%;
	object-fit: none;
	transition: transform 0.2s ease;
}

.header-top-icon img:hover {
	transform: scale(1.2);
}

.header-profile {
	margin: 30px auto 0;
	font-size: 0;
	width: 631px;
	height: 215px;
	text-align: left;
}

.header-photo {
	width: 215px;
	height: 215px;
	border-radius: 50%;
	overflow: hidden;
	border: 6px solid #FFE071;
	display: inline-block;
	vertical-align: middle;
	margin-right: 45px;
	font-size: 22px;
}

.header-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-info {
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
}

.header-title {
	font-weight: 500;
	font-size: 46px;
	color: #F1F2F4;
}

.header-title+p {
	color: #A3ABB2;
	margin-top: 10px;
}

.social-icons {
	list-style: none;
	text-align: center;
	margin-top: 10px;
	font-size: 0;
}

.social-icons li {
	display: inline-block;
	margin: 0 7px;
	width: 36px;
	height: 36px;
	font-size: 22px;
}

.social-icons img {
	width: 100%;
	height: 100%;
	transition: transform 0.2s ease;
}

.social-icons img:hover {
	transform: scale(1.2);
}

.header-social {
	margin: 30px auto 0;
	padding: 20px;
	text-align: center;
}

.header-social-list {
	width: 634px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
	font-size: 0;
}

.header-social-list li {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	color: #A3ABB2;
	font-size: 22px;
	margin: 0 10px;
}

.header-social-list li span {
	display: block;
	font-size: 24px;
	font-weight: 500;
	color: #A3ABB2;
}

.header-btn {
	margin-top: 47px;
	font-size: 0;
}

.btn {
	display: inline-block;
	padding: 25px 75px;
	color: #A3ABB2;
	background:#171F26;
	border-radius: 6px;
	text-decoration: none;
	font-size: 22px;
	margin: 0 19px;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background: #FFE071;
	color: #3D3D3D;
}

/* MAIN */
section {
	text-align: center;
	padding: 35px 0 58px;
}

.section-light {
	color: #3D3D3D;
	background: #FFE482;
}

.section-title {
	font-size: 37px;
	font-weight: 500;
	text-transform: uppercase;
}

.portfolio-title {
	color: #A3ABB2;
}

.section-desc {
	margin: 40px 0 0;
}

/* PORTFOLIO */
.section-dark {
	padding-top: 0;
}

.portfolio-cards {
	font-size: 0;
	margin: 45px -15px 0;
}

.portfolio-card {
	width: 33.333%;
	height: 226px;
	display: inline-block;
	font-size: 22px;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	padding: 0 15px;
}

.portfolio-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* FOOTER */
.footer {
	text-align: center;
	padding: 51px 0;
}

.license {
	color: #A3ABB2;
;
}